.swiper-slide {
  width: 100%;
  max-width: 1536px;
  margin: 0 auto;
}

.swiper-pagination {
  --swiper-pagination-left: auto;
  --swiper-pagination-right: .7%;
}
.swiper-pagination::before {
  content: '';
  position: absolute;
  top: -10%;
  bottom: -10%;
  left: 50%;
  width: 2.4px;
  background: #80f0ff0b;
}

.swiper-pagination-bullet {
  --text-hight: 1.6rem;
  width: 100%;
  margin: 0 !important;
  text-align: center;
  height: var(--text-hight);
  line-height: var(--text-hight);
  letter-spacing: 1.4px;
  font-size: .8rem;
  font-weight: 600;
  text-transform: uppercase;
  color: #615c7bcc;
  opacity: 1;
  background: transparent;
}

.swiper-pagination-bullet-active {
  color: #80f0ff;
  text-shadow: 0 0 3px #80f0ff, 0 0 8px #80f0ffa5, 0 0 20px #80f0ff6d;
}

