.swiper-pagination {
  --swiper-pagination-left: auto;
  --swiper-pagination-right: .7%;
}
.swiper-pagination::before {
  content: '';
  position: absolute;
  top: -10%;
  bottom: -10%;
  left: 50%;
  width: .3vh;
  background: #80f0ff0b;
}

.swiper-pagination-bullet {
  --text-hight: 6vh;
  width: 100%;
  border-radius: 0;
  margin: 0 !important;
  text-align: center;
  height: var(--text-hight);
  line-height: var(--text-hight);
  letter-spacing: .1vh;
  font-size: 2.6vh;
  font-weight: 500;
  text-transform: uppercase;
  color: #615c7bcc;
  opacity: 1;
  background: transparent;
}

.swiper-pagination-bullet-active {
  color: #80f0ff;
  text-shadow: 0 0 .8vh #80f0ff, 0 0 2vh #80f0ffa5, 0 0 4vh #80f0ff6d;
}
