@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

html {
  /* font-size: 6vh; */
}

/* .my-avatar {
  animation: changecolor 1s ease-in-out infinite alternate;
}

@keyframes changecolor {
  from {
    filter: drop-shadow(0 0 1vh #09779585) drop-shadow(0 0 0vh #09779543);
  }
  to {
    filter: drop-shadow(0 0 2vh #09779585) drop-shadow(0 0 6vh #09779543);
  }
} */
